* {
    padding: 0;
    margin: 0;
}

body {
    background-size: cover;
    background: linear-gradient( white, rgb(238, 229, 229),lightgray) fixed;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 20vh;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    background: linear-gradient(45deg, rgb(221, 210, 210), lightgray, grey);
}

label {
    font-size: 18px;
    font-family: monospace, Courier, sans-serif;
}

#date {
    padding: 5px 10px;
    outline: none;
    border-radius: 4px;
    border: 1.4px solid grey;
    margin-left: 5px;   
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#submit {
    padding: 6px 18px;
    background-color: rgb(252, 248, 248);
    border: 1px solid grey;
    color: rgb(78, 46, 46);
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    cursor: pointer;
}

#submit:hover {
    color: black;
}

#image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.image {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px lightgrey;
    margin: 10px;
}