* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lavender;
}

#container1 {
    padding: 50px;
    background-color: aliceblue;
    background-image: -webkit-linear-gradient(45deg, rgba(243, 21, 21, 0.5), rgba(192, 16, 16, 0.6), rgba(143, 8, 8, 0.7));
    height: 15vh;
}

#select-button {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    top: 35%;
}

select {
    padding: 5px 12px;
    border-radius: 5px;
    background-color: beige;
    outline: none;
    font: inherit;
}

select:focus > option:checked {
    background: grey !important;
}

#button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: khaki;
    border: 1px solid black;
    font: inherit;
    outline: 1px;
}

#container2 {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#image {
    border-radius: 10px;
}

#next-button {
    padding: 5px 12px;
    font-size: 15px;
    font-family: monospace;
    border-radius: 5px;
    border: 1px solid rgb(30, 153, 147);
    background-color: rgb(186, 227, 252);
    outline: none;
}

@media (max-width: 600px) {
    #next-button {
        margin: 20px 5px;
    }

    #getbutton {
        margin: 10px 0px;
    }

    #image {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 400px) {
    #image {
        height: 200px;
        width: 200px;
    }
}








